:root {
  --general-color: #626262;
  --paragraph-color: #b4ad9e;
  --button-background-color: #ffffff;
  --accent-color: #03a9f4;
  --general-font: "Playfair Display", serif;
  --paragraph-font: "Ubuntu", sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

.page-header {
  min-height: 188px;
}

/*Контейнер*/
.container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
/*Меню сайта*/
.site-nav {
  display: flex;
  justify-content: center;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.site-nav .link-nav {
  display: block;
  padding-top: 70px;
  padding-right: 55px;
  padding-bottom: 95px;
  padding-left: 55px;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  font-family: var(--general-font);
  color: var(--general-color);
  text-decoration: none;
}

.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent-color);
  text-decoration: underline;
}

/*Главная секция*/
.section {
  margin-bottom: 70px;
}

.articles {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  padding: 0px;
  margin-bottom: 56px;
}
.articles .articles-list {
  display: block;
  width: 420px;
  margin-right: 60px;
  font-size: 0px;
  margin-bottom: 132px;
}

.articles :nth-child(2n) {
  margin-right: 0px;
}

.articles :nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.image {
  margin-bottom: 30px;
}

.articles .paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
}

.articles .title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 1.2;
  color: var(--general-color);
  font-family: var(--general-font);
}

.articles .description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--general-color);
  font-family: var(--general-font);
}

.button {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.2;
  color: var(--general-color);
  font-family: var(--general-font);
  cursor: pointer;
  background-color: var(--button-background-color);
  width: 164px;
  height: 60px;
}
